@charset "UTF-8";


* {

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {


     height: 100vh; /* Altura total do navegador*/
     width: 100vw; /* Largura total do navegador*/
     background-color: black;

}

body { /* Aqui e a configuracao somente para o Body */

    background: url('../imagens/fundo-madeira.jpg') no-repeat top center ; /* Aqui adicionamos a imagem fundo madeira, no-repeat para nao duplicar, top de centroLembrando que os dois pontos .. e para voltar para pasta ja que aqui esta na pasta stilo*/
    background: cover; /* PAra cubrir a tela inteira */
    background-attachment: fixed; /* Para ficar fixo e nao ter rolagem off 

}

main {

     position: relative; /* Relacionamento de fora */
     height: 100vh; /* se vc diminuir para 90vh vc vera que o heith diminuir*/
   

}

/* Configuracoes do celular que ficara no meio da tela*/

section#telefone {
 
     position: absolute; /* Relacionamento de dentro Para Centralizar */
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);/* Para Centralizar */

     height: 627px; /* Altura da imagem do celular */
     width: 311px; /* Largura da imagem do celular */
     background: url('../imagens/frame-iphone.png') no-repeat; /* Aqui colocando a imagem celuar e o no repeat e para nao aparecer a imagem duplicada. Lembrando que os dois pontos .. e para voltar para pasta ja que aqui esta na pasta stilo*/
     

}

Iframe#tela {

/* Aqui o posicionamento do arquivo home dentro do celular */
position: relative;
top: 80px;
left: 22px;
width: 269px;
height: 471px;



}


/* Aqui as Configuracoes do section para ID (Nao Imagens) */
section#Redes-Sociais{


   text-align: right; /* Para colocar as imagens do lado Direito   */

}

/* Aqui as Configuracoes do section dos links/imagens */

section#Redes-Sociais img { /* Temos uma Section redes sociais e dentro temos imagens */

     width: 50px; /* Aqui o tamanho das imagens   */
     margin: 10px; /* Para separar um pouco as imagens */
     border-radius: 50%; /* Deixando as imagens redondas  */
     box-shadow: 2px 2px 5px black; /* Sombra em volta das imagens/botoes */
     box-sizing: border-box; /*  Aqui a Borda faz parte da caixa nao deixando os botoes se mexer quano passar o mouse em cima conforme o HOVER abaixo  */

}

/* Para quando passar o mause em cima da imagem mudar a cor  */
section#Redes-Sociais img:hover {

     border: 2px solid white;  /* quando passar o mouse a cor da borda mostra cor branca */
     transform: translate(-3px, -3px); /* Quando passar o mouse a imagem da uma levantada */
     box-shadow: 5px 5px 10px black; /* Quando levanta a sombra  tbm levanta */
     transition: trasform .5s, border 4s; /* A imagem levanta depois de em meio segundo e a borda depois de 4 segundo */
    
}
